/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 nov 2023, 19:44:21
    Author     : esdras copado
*/

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
button.HacerRecerva{
  margin: 10px 20px;
  color: white;
  text-decoration: none;
  background-color: #007bff;
  border: none;
  border-radius: 0.3rem;
  transition: transform 0.2s;
  
}
button.HacerRecerva:hover {
  transform: scale(1.1);
  background-color: #007bff; /* Cambia el color de fondo al pasar el cursor */
  color: white;
  border-radius: 0.5rem;
}

.ESmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0; /* Cambiar de 'top: 0' a 'bottom: 0' */
  width: 100%;
  max-height: 30%; /* Altura máxima de la modal */
  overflow: auto;
  
}

/* Estilos para el contenido de la modal */
.Mymodal-content {
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
width: 30%;
background-color: #4FE879;
color: white;
border-radius: 0.3rem;
margin: 0 auto;
font-size: 1.5rem;
font-weight: bold;
align-items: baseline;

}

/* Estilos para el botón de cierre */
.ModalClose {
  color: #fff;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.ModalClose:hover,
.ModalClose:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}